{"auth":
  {"form":
    {"state":"REGISTER",
      "disabled":false,
      "error":null,
      "isValid":false,
      "isFetching":false,
      "fields":
        {"login":"",
          "loginHasError":false,
          "loginErrorMsg":"",
          "email":"",
          "emailHasError":false,
          "emailErrorMsg":"",
          "password":"",
          "passwordHasError":false,
          "passwordErrorMsg":"",
          "passwordAgain":"",
          "passwordAgainHasError":false,
          "passwordAgainErrorMsg":"",
          "showPassword":false
          }
    }
  },
    "device":
      {"isMobile":true,
        "platform":"",
        "version":"0.0.1"
      },
    "profile":
      {"form":
          {"originalProfile":
              {"login":null,
                "email":null,
                "objectId":null,
                "emailVerified":null
              },
          "disabled":false,
          "error":null,
          "isValid":false,
          "isFetching":false,
          "fields":
              {"login":"",
              "loginHasError":false,
              "loginErrorMsg":"",
              "email":"",
              "emailHasError":false,
              "emailErrorMsg":"",
              "emailVerified":false}
              }
          },
          "global":
              {"currentUser":null,
                "showState":false,
                "currentState":null,
                "store":null
              }
            }
